$color_rojo: #fc248c;
$color_azul: #3866E2;

body{ font-family: 'Poppins', sans-serif; }

.nav-link{ font: normal normal bold 20px/30px Poppins; color: #FFFFFF;   }
.nav-link.active{ color: #59DAE5 !important; }
.separador{ color: #FFFFFF; font-size: 20px; top: 60px; position:absolute; }
.navbar-fondoazul{  background-color: $color_azul; }

.foto-portada{ background: url('foto-portada.png') no-repeat center; ;height: 745px;}
.texto-logo{ text-align: left; font: normal normal bold 20px/23px Poppins; color: #FFFFFF; }

.cuadro-titulo{ background-color: #3a3434; opacity: 0.7; top: 269px; left: 33vw; width: 690px; height: 256px; position: absolute;}
.div-titulo{ position:relative; color: white; font-weight: bold; text-align:center; padding-top: 30px; font: normal bold 60px/90px; }
.titulo-playa{ font-weight: bold; font-size: 60px }

.titulo-blog{ font: normal normal 800 36px/55px Poppins; color: #000000; text-align:center; }
.divisor{ width: 166px; border-top: 3px solid $color_rojo;margin: 0 auto; margin-bottom: 80px; margin-top: 20px }
.contenido-blog{ font: normal normal normal 24px/35px Poppins; color: #868E96; padding-bottom: 40px }
ul li { color: $color_rojo; }
ul li span { color: #868E96; }
.titulo-rojo{ font: normal normal 600 20px/30px Poppins; letter-spacing: 2px; color: $color_rojo; text-align:center; line-height: 5px }

.texto-icono{ font: normal normal normal 20px/30px Poppins; color: #868E96; }

.footer-menu{ background-color: #EAECEF; margin-top: 30px; }
.footer-menu-contenido{ padding-top: 40px; padding-bottom: 40px   }

.texto-icono-footer{ font: normal normal bold 20px/23px Poppins; color: #000000; width: 20px; display: inline-block; margin-left: 10px; position:relative; top: 10px }
.texto-menu-footer{ font: normal normal normal 16px/25px Poppins; color: #828E98; padding-right: 80px;}
.texto-titulo-footer{ font: normal normal bold 20px/23px Poppins; color: #000000; margin-top: 20px; margin-bottom: 30px }
.texto-subtitulo-footer{font: normal normal bold 16px/25px Poppins;color: #848E97; margin-top: 35px}
.icono-menu-footer{ color:#2258B5; margin-right: 20px }
.footer-menu2{ background-color: $color_azul; color: white; font: normal normal medium 16px/25px Poppins; padding: 10px 0px 10px 0px }

/* ACTIVIDADES */
.card{ height:25rem; }
.card-img-top{ height:410px }
.card-body{ background-color: #003D6D }
.card-text{ font: normal normal normal 18px/27px Poppins; color: #FFFFFF; }

/* HABITACIONES */
.div_gris{ background-color:#f8f9fa; padding-top: 70px; padding-bottom:70px}
.foto-habitacion{ width: 90%; height: 397px; }
.titulo-habitacion{ font: normal normal 600 24px/35px Poppins; color: #000000; }
.texto-contenido-habitacion{ font: normal normal normal 16px/25px Poppins; color: #000000; }
.texto-tabla-habitacion{ font: normal normal 600 16px/25px Poppins; color: #000000; background-color:#FFFFFF; width:80% }

/* FOTOS */
.foto-principal{ width: 100%; height: 717px; }
.foto-secundaria{ height: 573px; width: 100% }

/* CONTACTENOS */
.contactenos-titulo{ font: normal normal bold 24px/30px Bodoni Moda 11pt; color: #09182E; line-height: 0px; text-align:center; }
.contactenos-subtitulo{ font: normal normal normal 16px/25px Poppins; color: #707070; text-align:center;  }
.contactenos-label{ font: normal normal normal 16px/25px Poppins; color: #707070; }
.contactenos-boton{ margin-top: 50px; background: #4E66F8 0% 0% no-repeat padding-box; color: white; border-radius: 5px; width: 227px;height: 40px; font: normal normal normal 16px/25px Poppins;}

/* ANIMACION FONDO */

.kenburns-top {
	-webkit-animation: kenburns-top 5s ease-out both;
	        animation: kenburns-top 5s ease-out both;
}

/* RESPONSIVE - CELULAR */
@media (max-width: 999px) {
	.logo-navbar{ width: 34px; height: 34px; }
	.texto-logo{ display: none !important; }
	.navbar-toggler{ color: #FFFFFF !important}
	.toggler-personalizado .navbar-toggler-icon {
	  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	}
	.nav-item{ background-color: #FFFF;  border: 1px solid #2567EA; padding: 0px 15px 0px 15px;}
	.nav-link{ color: #2567EA }

	.foto-portada{ height: 280px; background-size: auto 100%;}
	.cuadro-titulo{ top: 120px; left: 20%; width: 211px;height: 78px; z-index: -1; }
	.div-titulo{ padding-top: 0px; font-size:18px }
	.titulo-playa{ font-size:24px; line-height:5px }
	.titulo-ubicacion{ font-size:10px }

	.titulo-blog{ font-size: 18px }
	.divisor{ margin-top: 0px }
	.contenido-blog{ font-size:14px; line-height: 25px }
	.titulo-rojo{ line-height: 0px; font-size: 14px }
	
	.div_gris{ padding-top: 20px; padding-bottom: 20px }
	.foto-habitacion{ height: 252px }

	.foto-principal{ height: 300px; width:100% }
	.foto-secundaria{ height: 200px }

	.texto-icono{ font-size: 12px }
	.texto-menu-footer{padding-right: 0px}
	.footer-menu2{ font-size: 12px }


}